nodered-data/flows.json
[
    {
        "id": "cc87bf96cbd4b4c1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "284e434c75096686",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95dee3f444283995",
        "type": "minio-config",
        "name": "MinIO Instance",
        "host": "host.docker.internal",
        "port": "9000",
        "useSsl": false
    },
    {
        "id": "3bc7f58c12cd07c8",
        "type": "amqp-broker",
        "name": "rabbitmq",
        "host": "rabbitmq",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "165c93074611af67",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "te"
    },
    {
        "id": "9ba0ef5deec93141",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4c358843288cab9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "42bb503383ed3b9e",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c16a1a0bece7135",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "42bb503383ed3b9e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0573dfbfb4344e0",
        "type": "ui_spacer",
        "z": "cc87bf96cbd4b4c1",
        "name": "spacer",
        "group": "6c16a1a0bece7135",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "cc87bf96cbd4b4c1",
        "name": "Trigger API Call",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 480,
        "y": 620,
        "wires": [
            [
                "http1"
            ]
        ]
    },
    {
        "id": "http1",
        "type": "http request",
        "z": "cc87bf96cbd4b4c1",
        "name": "OpenAQ Germany SO2 Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openaq.org/v2/measurements?city=Delhi&parameter=pm25&date_from=2023-01-01&limit=1000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-API-Key",
                "valueType": "other",
                "valueValue": "4c7a924a9b69a58593271c446a9362a51e3b3d049eee4fa5b0d247f8d76705be"
            },
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 800,
        "y": 620,
        "wires": [
            [
                "c8e28fec7fd0cd8d"
            ]
        ]
    },
    {
        "id": "70e20abb953af9d4",
        "type": "file",
        "z": "cc87bf96cbd4b4c1",
        "name": "",
        "filename": "local_Data",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1170,
        "y": 740,
        "wires": [
            [
                "aa6c9b82250631e2"
            ]
        ]
    },
    {
        "id": "7daf49deab909409",
        "type": "file in",
        "z": "cc87bf96cbd4b4c1",
        "name": "",
        "filename": "local_Data",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 1120,
        "wires": [
            [
                "17dfee390295616d"
            ]
        ]
    },
    {
        "id": "e8db8b9883ec82ac",
        "type": "debug",
        "z": "cc87bf96cbd4b4c1",
        "name": "done",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa6c9b82250631e2",
        "type": "files",
        "z": "cc87bf96cbd4b4c1",
        "files_name": "",
        "host": "95dee3f444283995",
        "files_operation": "fPutObject",
        "files_bucket": "ergasia",
        "files_object": "local_Data",
        "files_filepath": "local_Data",
        "files_metadata": "",
        "x": 1440,
        "y": 740,
        "wires": [
            [
                "1e45f64f7bbb5a61"
            ],
            [
                "e3f806a55ab39597"
            ]
        ]
    },
    {
        "id": "8c5240c2df925897",
        "type": "inject",
        "z": "cc87bf96cbd4b4c1",
        "name": "Trigger API Call",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "ead89fdab76bf89a"
            ]
        ]
    },
    {
        "id": "42806490409bbe3f",
        "type": "debug",
        "z": "cc87bf96cbd4b4c1",
        "name": "done",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 360,
        "wires": []
    },
    {
        "id": "ead89fdab76bf89a",
        "type": "buckets",
        "z": "cc87bf96cbd4b4c1",
        "buckets_name": "",
        "host": "95dee3f444283995",
        "buckets_operation": "removeBucket",
        "buckets_bucket": "ergasi",
        "buckets_region": "None",
        "buckets_prefix": "",
        "buckets_recursive": false,
        "buckets_start_after": "",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "e8db8b9883ec82ac"
            ],
            [
                "42806490409bbe3f"
            ]
        ]
    },
    {
        "id": "146e56a403cbaf68",
        "type": "amqp-in",
        "z": "cc87bf96cbd4b4c1",
        "name": "",
        "broker": "3bc7f58c12cd07c8",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "amq.topic",
        "exchangeType": "topic",
        "exchangeRoutingKey": "system.minio",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 380,
        "y": 800,
        "wires": [
            [
                "38ca646c91914790"
            ]
        ]
    },
    {
        "id": "38ca646c91914790",
        "type": "debug",
        "z": "cc87bf96cbd4b4c1",
        "name": "minio outout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "771ee64733cc3476",
        "type": "inject",
        "z": "cc87bf96cbd4b4c1",
        "name": "Trigger API Call",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 500,
        "y": 1120,
        "wires": [
            [
                "7daf49deab909409"
            ]
        ]
    },
    {
        "id": "14326b8c84b4c372",
        "type": "function",
        "z": "cc87bf96cbd4b4c1",
        "name": "function 1",
        "func": "if (msg.payload && Array.isArray(msg.payload) && msg.payload.length > 0) {\n    let lastEntry = msg.payload[msg.payload.length - 1];\n    msg.payload = lastEntry.value;\n} else {\n    msg.payload = 0;\n    node.warn(\"No data found in the array. Defaulting to 0.\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1140,
        "wires": [
            [
                "e7929cb4895ea3be"
            ]
        ]
    },
    {
        "id": "1e45f64f7bbb5a61",
        "type": "debug",
        "z": "cc87bf96cbd4b4c1",
        "name": "file ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 640,
        "wires": []
    },
    {
        "id": "c8e28fec7fd0cd8d",
        "type": "function",
        "z": "cc87bf96cbd4b4c1",
        "name": "function 2",
        "func": "if (msg.payload && msg.payload.results && Array.isArray(msg.payload.results) && msg.payload.results.length > 0) {\n    let filteredData = [];\n    msg.payload.results.forEach(entry => {\n        if (entry.value !== -999) {\n            let filteredEntry = {\n                parameter: entry.parameter,\n                value: entry.value,\n                time: entry.date.utc,\n                location: entry.location\n            };\n            filteredData.push(filteredEntry);\n        }\n    });\n    msg.payload = filteredData;\n} else {\n    msg.payload = [];\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 620,
        "wires": [
            [
                "70e20abb953af9d4"
            ]
        ]
    },
    {
        "id": "e3f806a55ab39597",
        "type": "debug",
        "z": "cc87bf96cbd4b4c1",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 860,
        "wires": []
    },
    {
        "id": "17dfee390295616d",
        "type": "json",
        "z": "cc87bf96cbd4b4c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 1220,
        "wires": [
            [
                "14326b8c84b4c372"
            ]
        ]
    },
    {
        "id": "e7929cb4895ea3be",
        "type": "ui_chart",
        "z": "cc87bf96cbd4b4c1",
        "name": "",
        "group": "6c16a1a0bece7135",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "13acb4bcecb7cb2f",
        "type": "amqp-in",
        "z": "cc87bf96cbd4b4c1",
        "name": "",
        "broker": "3bc7f58c12cd07c8",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "amq.topic",
        "exchangeType": "topic",
        "exchangeRoutingKey": "KK.EVENT.#",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 340,
        "y": 1440,
        "wires": [
            [
                "ebe165b682fb617a",
                "134eb76ed16caac5"
            ]
        ]
    },
    {
        "id": "134eb76ed16caac5",
        "type": "debug",
        "z": "cc87bf96cbd4b4c1",
        "name": "keyloack",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1520,
        "wires": []
    },
    {
        "id": "ebe165b682fb617a",
        "type": "function",
        "z": "cc87bf96cbd4b4c1",
        "name": "function 3",
        "func": "let username = msg.payload.details.username;\nlet type = msg.payload.type;\n\nmsg.payload = {\n    username: username,\n    type: type\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1400,
        "wires": [
            [
                "865509bb5f94e3fd"
            ]
        ]
    },
    {
        "id": "865509bb5f94e3fd",
        "type": "debug",
        "z": "cc87bf96cbd4b4c1",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1400,
        "wires": []
    }
]